.DS_Store
.idea

application_sketches/llm_reasoning/*
!application_sketches/llm_reasoning/llm_lib.bib
!application_sketches/llm_reasoning/llm_reasoning.tex
!application_sketches/llm_reasoning/llm_reasoning.pdf

application_sketches/portfolio_optimization/*
!application_sketches/portfolio_optimization/portfolio_optimization.tex
!application_sketches/portfolio_optimization/portfolio_optimization.pdf

#application_sketches/quantum_circuits/*
#!application_sketches/quantum_circuits/quantum_circuits.tex
#!application_sketches/quantum_circuits/quantum_circuits.pdf

application_sketches/parity_check_codes/*
!application_sketches/parity_check_codes/parity_check_codes.tex
!application_sketches/parity_check_codes/parity_check_codes.pdf

*.aux
*.log
*.out
*.gz
*.bbl
*.bcf
*.blg
*.run.xml
*.toc
*.nav
*.snm

book/*